.Body{
  display: inline;
   padding-left: 50px;
}
.PostImage {
   
    width: 500px;
}

.PostGrid{
    display: grid;
    grid-template-rows: 390px  ;
    grid-template-columns: 730px 130px ;
}

.ProfileBanner{
    display: inline-flex;
    
 }

.ProfileBanner img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
   
}

.ProfileBanner button{
    padding-left: 50px;
    height: 20px;
    width:fit-content
 }

 .CommentBanner{
    display: inline-flex;
    padding-left: 50px;
    height: 20px;
    width:fit-content
 }

 .CommentBanner img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
   
}


 
