#PostBody{
    padding-top: 4%;
    padding-left: 2%;
}


@font-face {
    font-family: 'IceFont';
  src: local("IceMirrorInWinterKei-d99LV"),
  local("IceMirrorInWinterKei-d99LV"),
  url(Ice-Mirror-in-Winter-Kei.ttf.woff);
  
  }

#profilePicture{
    width: 60%;
    border-radius: 50%;
}
.TagSection{
    padding-left: 5%;
    display: flex;
}
.TextEdit{
 font-family: 'IceFont';
 color: #ade8f4;
}

.PostImage {
    width: fit-content;
    margin-bottom: 50px;
    width: 500px;
    background-color: red;
}

.PostGrid{
    display: grid;
    grid-template-rows: 390px  ;
    grid-template-columns: 730px 130px ;
}

.ProfileBanner{
    display: inline-flex;
    
 }

.ProfileBanner img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
   
}

.ProfileBanner button{
    padding-left: 50px;
    height: 20px;
    width:fit-content
 }

 .CommentDiv{
    padding-left: 80px;
 }
 .CommentBanner{
    display: inline-flex;
    padding-left: 90px;
    height: 80px;
    width:fit-content
 }

 .CommentBanner img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
   
}

.MadeComent{
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 5%;
    height: auto;
}

.MadeComent input[type=Text]{
    width: 55%;
    border-radius: 2%;
    height: 50px;
    border-style: none;
    background-color: #071e26;
    color: #ade8f4 ;
}

.ButtonEtiquetas{
    color: #227e91 ;
    font-family: 'IceFont';
}

.MadeComent input[type=Submit]{
  margin-left: 20px;
  width: 100px;
  height: 50px;
  font-family: 'IceFont';
  background-color: #071e26;
  color: #ade8f4;
  border-style: none;
}





 
